################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Book-Store-App/.vs/Book-Store-App/v16
/Book-Store-App/Book-Store-App/obj
/Book-Store-App/Book-Store-App/bin/Debug/netcoreapp3.1
/Book-Store-App/Book-Store-App/Book-Store-App.csproj.user
/Book-Store-App/.vs/Book-Store-App
/Book-Store-App/Book-Store-App/bin/Release/netcoreapp3.1
/Book-Store-App/Book-Store-App/wwwroot/lib
