@model ResetPasswordModel

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col">
            <div class="separator">
                <h1 class="display-5">Reset Password</h1>
                <hr />
            </div>
            @if (ViewBag.ResetSuccess == true)
            {
                <div class="alert alert-success">
                    Reset Password Done Successfully, you can <a href="/auth/login">Login now</a> with new password
                </div>
            }
            <form method="post">
            <input type="hidden" asp-for="UserId"/>
            <input type="hidden" asp-for="Token"/>
            <div class="mt-4">
                <div class="form-group-icon">
                    <i class="input-icon fas fa-lock"></i>
                    <input class="form-control" asp-for="NewPassword" placeholder="New Password" />
                </div>
                <span asp-validation-for="NewPassword" style="color: #dc3545; "></span>
            </div>

            <div class="mt-4">
                <div class="form-group-icon">
                    <i class="input-icon fas fa-lock"></i>
                    <input class="form-control" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" />
                </div>
                <span asp-validation-for="ConfirmNewPassword" style="color: #dc3545; "></span>
            </div>

            <div style="display:flex;justify-content:space-between;" class="mt-4">
                <button class="btn btn-success">Save</button>
                <a class="btn btn-outline-dark" asp-controller="Auth" asp-action="Login">Back</a>
            </div>
        </form>
            <div class="mt-4 text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
</div>