<<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col">
            <div class="alert alert-success">
                Reset Password Done Successfully, you can <a href="/auth/login">Login now</a> with your new password
            </div>
        </div>
    </div>
</div>