<footer class="mt-5">
    <div class="footer-info bg-dark text-muted">
        <div class="owner">
           BOOKLY Developed By Abdelrahman Gamal &copy; @DateTime.Now.Year
        </div>
        <div class="icons-section">
            <ul class="icons-list">
                <li class="icon">
                    <a class="custom-a" target="_blank" href="https://github.com/AbdelrahmanGamal44"><i class="fab fa-github-square"></i></a>
                </li>
                <li class="icon">
                    <a class="custom-a" target="_blank" href="https://www.linkedin.com/in/abdelrahman-gamal-286b991a9/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <email class="custom-a" mail-to="abdelrahmangksd"></email>
                </li>
            </ul>
        </div>
    </div>
</footer>