@{
    ViewData["Title"] = "Home";
}
<div class="p-5 mb-4 rounded-3" style="background-color:#ddd;">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Unlimited Books In One Place</h1>
        <p class="fs-4">Find books, toys & tech, including ebooks, movies, music & textbooks, Free shipping and more for Millionaire's Club members. Visit our book stores.</p>
        <button class="btn btn-dark btn-lg" type="button">Search For Books</button>
    </div>
</div>

<div class="container py-4">
    <div class="row align-items-md-stretch mb-5">
        <div class="col-md-12 mb-3" style="padding:0;">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Trending Now: Today's Top Sellers</h2>
            </div>
        </div>
        @* Render top books view component *@
        @await Component.InvokeAsync("TopBooks", new { numOfBooksToReturn = 1})

    </div>
    <div class="row align-items-md-stretch mb-5">
        <div class="col-md-12 mb-3" style="padding:0;">
            <div class="h-100 p-5 text-white bg-secondary border rounded-3">
                <h2>
                    Bestselling Books
                </h2>
            </div>
        </div>
        @* Render top books view component *@
        @await Component.InvokeAsync("TopBooks", new { numOfBooksToReturn = 2})
    </div>
</div>
